body {
    background-color: #000000;
    font-family: "Open Sans", sans-serif;

}
/*css de navbar*/
.navbar {
    background-color: #269DAB;
}

.color {
    background-color: #269DAB;

}

.Viajes {
    color: white;
    margin-bottom: 2px;
    font-size: 25px;
    padding-right: 100px;
    font-weight: 400;
    
}

.navbar-toggler {
    border: 1px solid white;

}

.navbar-toggler-icon {
    filter: invert(1);
}

.navbar-nav a {
    color: white;
}
/*fin de navbar*/

/*css cards y favicoms*/
#cont {
    background-color: black;
}
#cont h2 {
    margin-top: 30px;
    text-align: center;
    color: white;
}
#cont hr {
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 50px;
}
#cont .card {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid black;
    margin-left: 20px;
    
    
}
/*Fin css cards y favicoms*/

/*css cards con imagenes*/
.card-header {
    background-color: #0DCAF0;
    text-align: center;
    
}
.card-body {
    background-color: #000000 ;
}
.card-body p {
    color: white;
}
i {
    filter: invert();
    
}
#cont2 h2 {
    text-align: center;
    color: white;
    margin-top: 20PX;
}
#cont2 hr {
    width: 50%;
    color: white;
    margin-left: 25%;
}
/*Fin css cards con imagenes*/

/*css formulario mas popovedr*/
#cont3 {
    background-color: black;
    padding-right: 10px;
}
#cont3 h2 {
    margin-top: 30px;
    text-align: center;
    color: white;
}
#cont3 hr {
    width: 50%;
    color: white;
    margin-left: 25%;
    margin-bottom: 50px;
}

.form-label {
    color: white;
}



#foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
h2 {
    color: white;
}
.icons {
    display: flex;
}

.icons i {
    margin-right: 10px; 
    font-size: 24px; 
}

